<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Signup</title>
    </head>
    <body>
        <div>
            <strong>Menu:</strong>
            <ul>
                <li>
                    <a href="/accounts/login/">Sign In</a>
                </li>
                <li>
                    <a href="/accounts/signup/">Sign Up</a>
                </li>
            </ul>
        </div>
        <h1>Sign Up</h1>
        <p>Already have an account? Then please <a href="/accounts/login/">sign in</a>.</p>
        <form method="post" action="/accounts/signup/">
            <input type="hidden" name="csrfmiddlewaretoken" value="YT2JmRJxVh3zemrRNfb1Ukb1VORJRkvLjFIHf23ayyhsuNxGtvVmJRR4LDkEkFfn">
            <p>
                <label for="id_username">Username:</label>
                <input type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150" required id="id_username">
            </p>
            <p>
                <label for="id_email">Email (optional):</label>
                <input type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320" id="id_email">
            </p>
            <p>
                <label for="id_password1">Password:</label>
                <input type="password" name="password1" placeholder="Password" autocomplete="new-password" required aria-describedby="id_password1_helptext" id="id_password1">
                <span class="helptext" id="id_password1_helptext">
                    <ul>
                        <li>Your password can’t be too similar to your other personal information.</li>
                        <li>Your password must contain at least 8 characters.</li>
                        <li>Your password can’t be a commonly used password.</li>
                        <li>Your password can’t be entirely numeric.</li>
                    </ul>
                </span>
            </p>
            <p>
                <label for="id_password2">Password (again):</label>
                <input type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required id="id_password2">
            </p>
            <button type="submit">Sign Up</button>
        </form>
    </body>
</html>