




# Tệp tạm thời
*.log
*.tmp
*.bak
*.swp
*.swo

# Tệp hệ thống
.DS_Store
Thumbs.db

# Tệp liên quan đến IDE
.vscode/
.idea/
*.iml

# filepath: c:\chat_app\chat_app_new\.gitattributes
*.log text eol=lf
*.tmp text eol=lf
*.bak text eol=lf
*.swp text eol=lf
*.swo text eol=lf

db.sqlite3
venv/

