# Ignore Python bytecode
# Ignore Python bytecode
*.pyc
__pycache__/

# Ignore virtual environment
venv/

# Ignore database
db.sqlite3

# Ignore media files
media/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore static files (if applicable)
static/

# Ignore temporary files
*.log
*.tmp